<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SearchResults</display-name>
    <servlet-name>SearchResults</servlet-name>
    <servlet-class>com.flyaway.SearchResults</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResults</servlet-name>
    <url-pattern>/SearchResults</url-pattern>
  </servlet-mapping>
  <display-name>FlyawayTicketBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PassengerDetailsServlet</display-name>
    <servlet-name>PassengerDetailsServlet</servlet-name>
    <servlet-class>com.flyaway.PassengerDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassengerDetailsServlet</servlet-name>
    <url-pattern>/PassengerDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightNumberServlet</display-name>
    <servlet-name>FlightNumberServlet</servlet-name>
    <servlet-class>com.flyaway.FlightNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightNumberServlet</servlet-name>
    <url-pattern>/FlightNumberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>com.flyaway.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
</web-app>